# Supabase
SUPABASE_URL=https://scymeuswlwhwosdpkawd.supabase.co
SUPABASE_ANON_KEY=sb_publishable_xsmK7QU_43UmwjUlVxQD_g_TykAl6e9
SUPABASE_PROJECT_REF=scymeuswlwhwosdpkawd
SUPABASE_ACCESS_TOKEN=your_supabase_access_token_here

# Netlify
NETLIFY_SITE_ID=your_netlify_site_id_here
NETLIFY_AUTH_TOKEN=your_netlify_auth_token_here
